<form class="form-horizontal">
    <h4>Smart Preheat GCODE Script</h4>
    Insert the following line into any <a href="https://docs.octoprint.org/en/master/features/gcode_scripts.html" target="_blank">OctoPrint GCODE Script</a>:<br/>
    <code>{% raw %}{% snippet 'doSmartPreheat' %}{% endraw %}</code><br/><br/>
    <textarea rows="25" class="block" data-bind="value: scripts_gcode_snippets_doSmartPreheat"></textarea>
</form>
