<form class="form-horizontal">
    <h4>Smart Preheat GCODE Script</h4>
    Insert the following into any GCODE Script:<br/>
    <code>{% raw %}{% snippet 'doSmartPreheat' %}{% endraw %}</code><br/>
    <textarea rows="25" class="block" data-bind="value: scripts_gcode_snippets_doSmartPreheat"></textarea>
</form>
